<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>JMJar-Hero</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" media="screen" title="no title"
          charset="utf-8">
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" type="image/png" href="./img/favicon-16x16.png" sizes="16x16">
</head>
<body ng-controller="MainController as main" ng-cloak>
<div id="totalScore">{{main.currentPlayer.score}}</div>
<div id="harp" tabindex="1"></div>
<div id="score"></div>
<img id="logo" src="./img/logo_zenika_gris.png"/>

<div id="player">
    <h1>Player</h1>
    <div>
        <div class="hbox">
            <p>Song : </p>
            <select ng-model="main.currentTitle">
                <option ng-repeat="song in main.songs" value="{{song.path}}">{{song.name}}</option>
            </select>
        </div>
        <div class="hbox name" ng-class="{'name-error':main.isError}">
            <p>Name : </p>
            <input type="text" ng-change="main.onNameChange()" ng-keypress="main.onKeyPressed($event)"
                   placeholder="Player Name"
                   ng-model="main.currentName">
        </div>
        <button ng-click="main.onPlay()"><span class="glyphicon glyphicon-play"></span></button>
    </div>
</div>
<div id="highScores">
    <h1>High Scores</h1>
    <table>
        <tr ng-repeat="player in (main.highScores | limitTo: 10) track by $index"
            ng-class="{'currentPlayerRank':player===main.currentPlayer}">
            <td class="rank">{{($index+1)}}</td>
            <td class="player">{{player.name}}</td>
            <td class="value">{{player.score}}</td>
        </tr>
    </table>
    <table ng-if="main.currentPlayer.rank>10">
        <tr>
            <td class="rank">...</td>
        </tr>
        <tr class="currentPlayerRank">
            <td class="rank">{{(main.currentPlayer.rank+1)}}</td>
            <td class="player">{{main.currentPlayer.name}}</td>
            <td class="value">{{main.currentPlayer.score}}</td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="node_modules/lodash/lodash.js"></script>
<script type="text/javascript" src="../midiParser/Oxygene4.mid.js"></script>
<script type="text/javascript" src="node_modules/mo-js/build/mo.js"></script>
<script type="text/javascript" src="harp/note.js"></script>
<script type="text/javascript" src="harp/failure.js"></script>
<script type="text/javascript" src="harp/string.js"></script>
<script type="text/javascript" src="harp/target.js"></script>
<script type="text/javascript" src="harp/success.js"></script>
<script type="text/javascript" src="./score.js"></script>
<script type="text/javascript" src="./app.js"></script>
<script type="text/javascript" src="harp/timeline.js"></script>
</body>
</html>
