@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('./assets/fonts/Pixeled.ttf');

body {
    background-color: black;
    background-size: cover;
    overflow: hidden;
    color: gold;
    font-family: 'Pixeled', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#rushMessage {
    text-align: center;
    margin: auto;
    width: 100%;
    top: 30vh;
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.90);
}

#rushMessage.bounceInDown,
#rushMessage.bounceOutDown {
    opacity: 1;
}

#harp {
    transform: perspective(30px) rotateX(-1deg) translateY(600px) scale(1.5);
    outline: none;
}

#logo {
    position: absolute;
    bottom: 55px;
    right: 50px;
    height: 150px;
}

.string {
    box-shadow: 0px 0px 5px 1px red;
    transition: box-shadow 0.2s;
}

.stringLight {
    box-shadow: 0px 0px 17px 5px white;
    border-radius: 50%;
}

.troll {
    background-image: url('./assets/img/troll.png');
}

.white-string {
    box-shadow: 0px 0px 5px 1px white;
    transition: box-shadow 0.2s
}

.score {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100px;
    bottom: 20%;
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;
    color: gold;
}

#streak {
    display: block;
    position: absolute;
    top: 200px;
    right: 100px;
    font-size: 100px;
    font-family: 'Bungee Shade', cursive;
    color: pink;
}

#totalScore {
    display: block;
    position: absolute;
    top: 50px;
    right: 100px;
    font-size: 70px;
    font-family: 'Bungee Shade', cursive;
    color: gold;
}

.set .highScores {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    position: absolute;
    top: 25%;
    left: 20px;
    margin: 15px;
}

.set .highScores td.rank {
    width: 10%;
}

.intro input, .intro select {
    background-color: #000;
    border: none;
    outline: none;
    text-transform: uppercase;
    text-align-last: center;
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}

.intro input {
    color: #fff;
}

.outro .highScores {
    display: flex;
    flex-direction: column;
}

.outro .highScores td.player {
    padding: 0 10px;
}

.highScores table {
    width: 100%;
}

.highScores td {
    font-size: 20px;
    line-height: 1.5;
}

.highScores td.value {
    text-align: right;
}

.player {
    letter-spacing: 3px;
}

#player {
    margin: 15px;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    position: absolute;
    top: 20px;
    left: 20px;
}

#player > * {
    margin-left: 15px;
    margin-right: 15px;
}

#player .name {
    color: white;
    font-size: 50px;
}

#player button {
    background-color: transparent;
    outline: none;
    border: none;
    text-align: end;
}

#quit {
    position: absolute;
    bottom: 50px;
    left: 20px;
    margin: 0 15px;
}

.hbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.hbox > * {
    margin-right: 15px;
}

.name-error input {
    animation-duration: 200ms;
    animation-name: blink;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

.name-error input::-webkit-input-placeholder {
    color: #af1e3a;
}

.currentPlayerRank {
    animation-duration: 500ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: green;
}

.play-button {
    color: gold;
    font-size: 70px;
    cursor: pointer;
    margin: 20px 0;
    font-family: 'Bungee Shade', cursive;
}

.play-button:hover {
    color: #af1e3a;
}

.logoJmJar {
    max-width: 800px;
    margin-bottom: -60px;
    margin-top: -30px;
    max-height: 50vh;
}

.trollface {
    width: 30px;
    margin: 0 10px;
}

ul, li {
    list-style-type: none;
}

.summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.8;
    }
}

.name {
    text-align: center;
}